<!doctype html>
<html>
<head>
    <%- include('styles'); %>
<title>The Main Courses Page</title>
</head>
<body>
<h1> This is the Main Courses Page </h1>
<!-- <a href="/author-home">Author Home Page</a> -->
<br>
<h3>List of courses</h3>
<div style="overflow-x: auto;">
<table>
    <tr>
        <th>#ID</th>
        <th>Bloc</th>
        <th>Titre</th>
        <th>Description</th>
    </tr>
    <% for(var i=0; i < courses.length; i++) { %>
            <tr>
                <td><%= (i+1) %></td>
                <td><%= courses[i].c_bloc %></td>
                <td><%= courses[i].c_titre %></td>
                <td><%= courses[i].c_description %></td>
        </tr>
            </tr>
    <% } %>
</table>
</div>
<!-- <a href="/reader-home">Reader Home Page</a> -->
</p>
</body>
</html>