<!doctype html>
<html>

<head>
    <%- include('partials/head'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <div class="container">

        <div class="content">
            <br>
            <h3 class="text-center"><%= projet.p_intitule %></h3>
            <p class="text-center">Concepts clés: <%= projet.p_description %></p>

            <% if (files && files.length > 0) { %>
                <div>
                    <% files.forEach(file => { %>
                        <div>
                            <% if (file.media_path.endsWith('.jpg') || file.media_path.endsWith('.jpeg') || file.media_path.endsWith('.png') || file.media_path.endsWith('.gif')) { %>
                                <!-- Image -->
                                <img src="<%= file.url %>" alt="Image for Realisation <%= realisation.realisation_id %>">
                            <% } else if (file.media_path.endsWith('.pdf')) { %>
                                <!-- PDF -->
                                <object class="pdf" data="<%= file.url %>" width="800">
                        </object>
                                <!-- <iframe src="<%= file.url %>" style="width: 100%; height: 600px;" frameborder="0"></iframe> -->
                            <% } else { %>
                                <p>Fichier de format non pris en compte: <%= file.media_path %></p>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <p class="text-center">Aucun fichier disponible pour cette réalisation.</p>
            <% } %>

            <div class="text-center">
                <a href="/experiences"><button>Retour au sommaire</button></a>
            </div>
        </div>

    </div>

<script nonce="<%= nonce %>">
    document.addEventListener('DOMContentLoaded', function() {
        const jsonElement = document.getElementById('json-data');
        if (jsonElement) {
            const jsonSrc = jsonElement.getAttribute('data-json-src');
            fetch(jsonSrc)
                .then(response => response.json())
                .then(data => {
                    jsonElement.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => console.error('Error fetching JSON:', error));
        }
    });
</script>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>