<!doctype html>
<html>
<head>
<title>The Main Realisations Page</title>
<%- include('styles'); %>
</head>
<body>
<h1> Liste des réalisations </h1>
<a href="/">Accueil</a>
<br>
<table>
    <tr>
        <th>#ID</th>
        <th>Période</th>
        <th>Titre</th>
        <th>Mots-Clés</th>
        <th>Action</th>
    </tr>
    <% for(var i=0; i < realisations.length; i++) { %>
        <% start_date = realisations[i].r_début.toLocaleDateString('fr-FR') %>
        <% end_date = realisations[i].r_fin.toLocaleDateString('fr-FR') %>
            <tr>
                <td><%= (i+1) %></td>
                <td><%= start_date +` - `+ end_date %></td>
                <td><%= realisations[i].r_intitule %></td>
                <td><%= realisations[i].r_description %></td>
                <td><a href="/realisation/<%= realisations[i].id%>"><button>Voir</button></a></td>
            </tr>
    <% } %>
</table>
<!-- <a href="/reader-home">Reader Home Page</a> -->
</body>
</html>
